.container-fluid{
    background-color: #264653;;
}
h1,h6,p{
    color: #FFFFFF;
}
.btn{
    color: #FFFFFF;
    background-color: #E76F51 !important;
    border-radius: 5px;
}
.scale img{
    filter: grayscale(3);
    -webkit-filter: grayscale(3);
    width: 288px;
    height: 243px;
}
.coords{
    filter: grayscale(0) !important;
    -webkit-filter: grayscale(0) !important;
}
.map-container-3{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-3 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
